.app {
	font-family: Arial, sans-serif;
	padding: 24px;
  	@media (max-width: 768px) {
	  padding: 16px;
	}
  }
  
  .container {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%; 
  
	@media (max-width: 768px) {
	  flex-direction: column; 
	}
  }
  
  .EmployeeList {
	width: 30%;
	padding: 16px;
	background-color: #f0f0f0;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  
	@media (max-width: 768px) {
	  width: 100%; 
	  margin-bottom: 16px; 
	}
  }
  
  .EmployeeTree {
	width: 70%;
	@media (max-width: 768px) {
	  width: 100%; 
	}
  }
  